{% extends "base.html" %}
{% load static %}
{% block title %}{{ title }} | {% endblock %}
{% block metadata %}{% endblock %}
{% block main %}
{% if title != "Posts" %}<div id="listing-details"><h1>{{ title }}</h1></div>{% endif %}
{% for post in posts %}
  {% include "home/post_content.html" with view_type="listing" page=post %}
{% endfor %}
{% if posts.paginator.num_pages > 1 %}
  <div id="pagination">
    <h2>More posts</h2>
      <ol>{% if posts.has_previous %}<li><a title="Previous page of posts" href="?page={{ posts.previous_page_number }}">&lt;</a></li>{% else %}<li class="disabled">&lt;</li>{% endif %}<li>
      {% if posts.number != 1 %}<a href="?page=1">1</a>{% else %}<span class="selected">1</span>{% endif %}</li>{% if posts.number > 2 %}{% if posts.number != 3 %}<li class="disabled">&hellip;</li>{% endif %}<li><a href="?page={{ posts.previous_page_number }}">{{ posts.previous_page_number }}</a></li>{% endif %}{% if posts.number != 1 and posts.number != posts.paginator.num_pages %}<li>
      <span class="selected">{{posts.number}}</span></li>{% endif %}{% if posts.number < posts.paginator.num_pages|add:"-1" %}<li><a href="?page={{ posts.next_page_number }}">{{ posts.next_page_number }}</a></li>{% if posts.number != posts.paginator.num_pages|add:"-2" %}<li class="disabled">&hellip;</li>{% endif %}{% endif %}<li>
      {% if posts.number != posts.paginator.num_pages %}<a href="?page={{ posts.paginator.num_pages }}">{{ posts.paginator.num_pages }}</a>{% else %}<span class="selected">{{ posts.paginator.num_pages }}</span>{% endif %}</li>{% if posts.has_next %}<li><a title="Next page of posts" href="?page={{ posts.next_page_number }}">&gt;</a></li>{% else %}<li class="disabled">&gt;</li>{% endif %}
      </ol>
  </div>
{% endif %}
{% endblock %}
